/* SignIn.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f0129;
  color: white;
}

.container {
  display: flex;
  min-height: 100vh;
  background-color: #0f0129;
  flex-direction: row;
}

.left {
  flex: 1;
  background-image: url("/public/bg.jpeg");
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.brand {
  font-size: 24px;
  font-weight: bold;
}

.brand span {
  font-weight: 300;
}

.headline {
  font-size: 28px;
  font-weight: bold;
  margin-top: auto;
}

.headline span {
  color: #b273f8;
}

.subtext {
    display: none;
  }

.right {
  flex: 1;
  padding: 40px;
  background-color: #120038;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.right p {
  font-size: 14px;
  margin-bottom: 20px;
}

input[type="email"] {
  padding: 14px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #1e0f3f;
  color: white;
  margin-bottom: 20px;
}

.signup-btn {
  padding: 14px;
  width: 100%;
  background: linear-gradient(to right, #b273f8, #4898f7);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.divider {
  height: 1px;
  background-color: #333;
  margin: 30px 0;
}

.socials {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.social {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #1e0f3f;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  gap: 10px;
  cursor: pointer;
}

.terms {
  font-size: 12px;
  text-align: left;
}

.terms span {
  color: #b273f8;
}
.text {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .left {
    height: 200px;
    background-image: url("/public/bg.jpeg");
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -120px;
  
  }

  .brand {
    font-size: 20px;
    text-align: left;
  }

   .subtext {
    display: block;
    font-size: 13px;
    text-align: right;
    color: #ccc;
  }

  .headline {
    display: none;
  }

  .right {
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
  }

  .right h1 {
    font-size: 26px;
    text-align: center;
  }

  input[type="email"] {
    width: 100%;
  }

  .signup-btn {
    font-size: 16px;
    width: 100%;
  }

  .socials {
    flex-direction: row;
    gap: 10px;
  }
  .foot{
    background-color: #120038;
  }
  
  .text{
    display: block;
    font-size: 15px;
    text-align: center;
    color: #ccc;
  }
}

